
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */

    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;

    height: 100vh;
    background-image: linear-gradient(
            rgba(10, 48, 91, 0.6),
            rgba(10, 48, 91, 0.6)
    ),
    url(assets/img/background.png);
    background-size: cover;
    color: #fff;

}

.cinema-container {
    margin-top: 5rem;
}

.header {
    display: flex;
    align-items: center;
    gap: 10rem;
}

.header-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 1.2rem;
}

.header-text {
    font-size: 4rem;
    justify-self: center;
}

.calendar-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 70%;
    height: 15rem;
}

.day-item {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 7rem;
}

.day-item:hover > .day-details {
    color: #546ecb;
    background-color: #fafbfb;
    transition: .2s ease;
    cursor: pointer;
}

.day-name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafbfb;
    padding: 0.3rem;
    font-size: 1.2rem;
    font-weight: bold;

    width: 100%;
    background-color: #546ecb;
}

.day-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: #a1a0a5;
    height: 100%;
    width: 100%;
}

.day-number {
    font-size: 3rem;
}

.day-month {
    font-size: 2rem;
}

.movies-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: auto;
    white-space: nowrap;

    width: 100%;
    min-height: 60rem;
    margin-top: 10rem;
    padding-bottom: 2rem;
}

.movie-container {
    position: relative;

    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.movie-overlay {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.movie-overlay:hover {
    opacity: 0;
    transition: .2s ease;
    cursor: pointer;
}

.movie-img {
    transition: all .2s ease-in-out;
}

.movie-overlay:hover ~ .movie-title-container {
    background-color: #fafbfb;
    transition: .2s ease;
}

.movie-overlay:hover ~ .movie-title-container > .movie-title-wrapper > .movie-title {
    color: #546ecb;
    transition: .2s ease;
}

.movie-overlay:hover ~ .movie-title-container > .movie-title-wrapper > .movie-duration {
    color: #a1a0a5;
    transition: .2s ease;
}

.movie-overlay:hover ~ .movie-sessions-container > .movie-sessions-wrapper {
    background-color: #546ecb;
    transition: .2s ease;
}

.movie-overlay:hover ~ .movie-sessions-container > .movie-sessions-wrapper > .movie-session-card {
    border: 1px solid #fafbfb;
    transition: .2s ease;
}

.movie-overlay:hover ~ .movie-sessions-container > .movie-sessions-wrapper > .movie-session-card > .movie-session-hour {
    color: #546ecb;
    transition: .2s ease;
}

.movie-img {
    height: 50rem;
}

.movie-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0a305b;
    height: 10rem;

    border-right: 1px solid #a1a0a5;
    border-left: 1px solid #a1a0a5;
}

.movie-title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.2rem;
    padding: 3.2rem;
    width: 100%;
}

.movie-title {
    font-size: 1.8rem;
    color: #fafbfb;
    font-weight: bold;
}

.movie-duration {
    font-size: 1.4rem;
    color: #fafbfb;
}

.movie-sessions-container {
    background-color: #fafbfb;
    width: 100%;
    height: 100%;

    border-right: 1px solid #a1a0a5;
    border-left: 1px solid #a1a0a5;
}

.movie-sessions-wrapper {
    padding: 1.2rem;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.2rem;
    row-gap: 1.2rem;
}

.movie-session-card {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fafbfb;
    width: 100%;
    height: 3rem;

    border: 1px solid #a1a0a5;
}

.movie-session-hour {
    color: #a1a0a5;
    font-size: 1.2rem;
    font-weight: bold;
}
