<div class="cinema-container">
    <div class="header">
        <div class="header-text-container">
            <h1 class="header-text">
                NOW SHOWING
            </h1>
        </div>

        <div class="calendar-container" ng-on-wheel="calendarScrollLeft($event)">
            <div ng-repeat="dates in todayDate" class="day-item" ng-click="test(dates)">
                <!--                        {{dates | date : "EEE, d MMM" }}-->
                <div class="day-item" ng-click="activate($event)">
                    <div class="day-name">{{dates | date: "EEEE" }}  </div>
                    <div class="day-details">
                        <div class="day-number" >
                            {{dates | date: "d" }}
                        </div>
                        <div class="day-month">
                            {{dates | date: "MMM" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="movies-container" ng-on-wheel="movieScrollLeft($event)" >
        <!--        MOVIE 1 -->
        <div class="movie-container" ng-repeat="movie in allMovies">
            <div class="movie-overlay"></div>
            <img class="movie-img" src="{{movie.poster}}" alt="avengers endgame">
            <div class="movie-title-container">
                <div class="movie-title-wrapper">
                    <div class="movie-title">
                        {{movie.title}}
                    </div>
                    <div class="movie-duration">
                        {{movie.durationInMin}}
                    </div>
                </div>
            </div>
            <div class="movie-sessions-container">
                <div class="movie-sessions-wrapper">
                    <div class="movie-session-card" ng-repeat="session in movie.sessions">
                        <span class="movie-session-hour">{{session.startTime}}</span>
                    </div>
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
                </div>
            </div>
        </div >
<!--        &lt;!&ndash;        MOVIE 2 &ndash;&gt;-->
<!--        <div class="movie-container">-->
<!--            <div class="movie-overlay"></div>-->
<!--            <img class="movie-img" src="assets/posters/matrix_resurrections_ver4.jpg" alt="avengers endgame">-->
<!--            <div class="movie-title-container">-->
<!--                <div class="movie-title-wrapper">-->
<!--                    <div class="movie-title">-->
<!--                        Avengers Endgame-->
<!--                    </div>-->
<!--                    <div class="movie-duration">-->
<!--                        1h, 30min-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="movie-sessions-container">-->
<!--                <div class="movie-sessions-wrapper">-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash;        MOVIE 3 &ndash;&gt;-->
<!--        <div class="movie-container">-->
<!--            <div class="movie-overlay"></div>-->
<!--            <img class="movie-img" src="assets/posters/rampage.jpg" alt="avengers endgame">-->
<!--            <div class="movie-title-container">-->
<!--                <div class="movie-title-wrapper">-->
<!--                    <div class="movie-title">-->
<!--                        Avengers Endgame-->
<!--                    </div>-->
<!--                    <div class="movie-duration">-->
<!--                        1h, 30min-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="movie-sessions-container">-->
<!--                <div class="movie-sessions-wrapper">-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash;        MOVIE 4 &ndash;&gt;-->
<!--        <div class="movie-container">-->
<!--            <div class="movie-overlay"></div>-->
<!--            <img class="movie-img" src="assets/posters/addams_family_two_ver2.jpg" alt="avengers endgame">-->
<!--            <div class="movie-title-container">-->
<!--                <div class="movie-title-wrapper">-->
<!--                    <div class="movie-title">-->
<!--                        Avengers Endgame-->
<!--                    </div>-->
<!--                    <div class="movie-duration">-->
<!--                        1h, 30min-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="movie-sessions-container">-->
<!--                <div class="movie-sessions-wrapper">-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash;        MOVIE 5 &ndash;&gt;-->
<!--        <div class="movie-container">-->
<!--            <div class="movie-overlay"></div>-->
<!--            <img class="movie-img" src="assets/posters/thor.jpg" alt="avengers endgame">-->
<!--            <div class="movie-title-container">-->
<!--                <div class="movie-title-wrapper">-->
<!--                    <div class="movie-title">-->
<!--                        Avengers Endgame-->
<!--                    </div>-->
<!--                    <div class="movie-duration">-->
<!--                        1h, 30min-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="movie-sessions-container">-->
<!--                <div class="movie-sessions-wrapper">-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash;        MOVIE 6 &ndash;&gt;-->
<!--        <div class="movie-container">-->
<!--            <div class="movie-overlay"></div>-->
<!--            <img class="movie-img" src="assets/posters/spiderman_far_from_home.jpg" alt="avengers endgame">-->
<!--            <div class="movie-title-container">-->
<!--                <div class="movie-title-wrapper">-->
<!--                    <div class="movie-title">-->
<!--                        Avengers Endgame-->
<!--                    </div>-->
<!--                    <div class="movie-duration">-->
<!--                        1h, 30min-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="movie-sessions-container">-->
<!--                <div class="movie-sessions-wrapper">-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash;        MOVIE 7 &ndash;&gt;-->
<!--        <div class="movie-container">-->
<!--            <div class="movie-overlay"></div>-->
<!--            <img class="movie-img" src="assets/posters/jumanji_welcome_to_the_jungle.jpg" alt="avengers endgame">-->
<!--            <div class="movie-title-container">-->
<!--                <div class="movie-title-wrapper">-->
<!--                    <div class="movie-title">-->
<!--                        Avengers Endgame-->
<!--                    </div>-->
<!--                    <div class="movie-duration">-->
<!--                        1h, 30min-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="movie-sessions-container">-->
<!--                <div class="movie-sessions-wrapper">-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                    <div class="movie-session-card">-->
<!--                        <span class="movie-session-hour">11:00am</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

    </div>
</div>
